.project-image,
.project-content{
    flex: 1;
    flex-basis: 300px;
}

.rotate{
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}
.card:hover .rotate{
    transform: translate(0);
}

h3{
    font-size: 2rem;
    color: var(--text-primary-clr);
}

.project:nth-child(even){
    flex-direction: row-reverse;
}
.project-image{
    border-radius: 1rem;
    overflow: hidden;
}

.list{
    padding: 0.8rem 2rem;
    background: var(--accent-clr);
    color: var(--fixed-clr);
    border-radius: 100vw;
}

.gap-1{
    gap: 1rem;
}

.mt-2{
    margin-top: 2rem;
}
















@media screen and (max-width:790px) {
    .list{
        padding: 0.8rem 1.45rem;
    }
    h3{
        font-size: 1.6rem;
    }
    .gap-5{
        gap: 2rem;
    }
    
}