.middle::before{
    left: 50%;
    transform: translateX(-50%);
}

.green-inverse{
    background: var(--accent-clr);
    color: var(--fixed-clr);
    border: 0.1rem solid var(--accent-clr);
}

.p-bottom-1{
    padding-bottom: 1rem;
}

.min-h-5{
    min-height: 50vh;
}